@model basKet.Models.Comanda
    <div>
        <h3>id:  @Html.DisplayFor(m => m.Id)</h3>
        <p>Команда: @Html.DisplayFor(m => m.NameTeam)</p>
        <p>Игрок1: @Html.DisplayFor(m => m.Player1)</p>
        <p>Игрок2: @Html.DisplayFor(m => m.Player2)</p>
        <p>Игрок3: @Html.DisplayFor(m => m.Player3)</p>
        <p>Игрок4: @Html.DisplayFor(m => m.Player4)</p>
        <p>Игрок5: @Html.DisplayFor(m => m.Player5)</p>
    </div>